<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>菩提道次第廣論四家合註科判有聲書</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="./wh-text-audio.js" type="module"></script>
</head>

<body>
  <h1 class="m-2 font-bold text-xl">菩提道次第廣論四家合註科判有聲書</h1>

  <div class="m-2 items-center">
    <wh-text-audio src="{{.BasePath}}/簡介.mp3" title="簡介"></wh-text-audio>
    <wh-text-audio src="{{.BasePath}}/操作方式.mp3" title="操作方式"></wh-text-audio>
  </div>

  <div class="flex flex-col">
    {{range $element := .TOC}} {{if eq $element.Type "Link" -}}
    <div class="m-2">
      <a class="underline" href="{{$element.Url}}.html">{{$element.Title}}</a>
    </div>
    {{end}} {{end}}
  </div>
</body>

</html>
